<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaoxuan.myandroidtraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidTraining">
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyAndroidTraining.NoActionBar"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShimmerSkeletonUsingActivity" />
        <activity android:name=".activity.SkeletonLayoutUsingActivity" />
        <activity android:name=".activity.SkeletonRecyclerViewUsingActivity" />
        <activity android:name=".activity.SkeletonViewUsingActivity" />
        <activity android:name=".activity.ViewReplacerUsingActivity" />
        <activity android:name=".activity.ConstraintLayoutUsingActivity" />
        <activity android:name=".activity.ConstraintLayoutMultiViewsCenteredUsingActivity" />
        <activity android:name=".activity.RippleEffectActivity" />
        <activity android:name=".activity.RecyclerViewNoPerceptionLoadMoreActivity" />
        <activity android:name=".activity.CoordinatorUsingActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationUsingActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationLinearLayoutVerticalActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationLinearLayoutHorizontalActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationGridVerticalActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationGridHorizontalActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationStaggeredGridVerticalActivity" />
        <activity android:name=".activity.RecyclerViewItemDecorationStaggeredGridHorizontalActivity" />
    </application>

</manifest>